* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tahoma Regular', sans-serif;
    background: url("../img/bg.jpg") repeat-x #0c739f;
    font-size: 14px;
    color: #2c2c2c;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.text-center {
    text-align: center;
}

.container-wrapper {
    width: 1000px;
    margin: 0 auto;
    -webkit-box-shadow: 0 5px 21px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 5px 21px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.75);
    border-bottom: 2px solid #031d28;
}

/*HEADER*/
.header-wrapper {
    padding: 7px 30px 0;
    background: #fff;
}

.header-logo {
    float: left;
    position: relative;
    width: 300px;
}

.header-logo img {
    height: 175px;
}

.header-logo h1 {
    font-size: 12px;
    color: #128aa7;
    position: absolute;
    right: 80px;
    bottom: 53px;
}

.header-contacts-block {
    float: right;
    color: #128aa7;
}

.header-phone {
    padding: 2px 0;
}

.header-country {
    float: right;
    position: relative;
    top: 22px;
}

.header-mail a:hover,
.header-phone a:hover {
    color: #11617c;
}

.header-container {
    float: right;
    margin-right: 33px;
    padding-top: 10px;
}

.header-contacts h2 {
    padding-bottom: 5px;
}

.header-mail a,
.header-phone a,
.header-contacts h2 {
    font-size: 12px;
    color: #128aa7;
}

.header-contacts {
    float: right;
    width: 640px;
}

.country-box {
    float: left;
}

.country {
    text-align: center;
    padding: 10px;
}

.country-box:last-child .country {
    padding: 10px 0 10px 10px;
}

.country-link a {
    font-size: 10px;
    color: #128aa7;
    text-decoration: underline;
}
/*END HEADER*/

/*SLIDER*/
.slider {
    height: 235px;
    border-top: 2px solid #138aa7;
    border-bottom: 2px solid #138aa7;
    overflow: hidden;
}
/*END SLIDER*/

/*MENU*/
.menu {
    background: #323232;
    min-height: 28px;
    border-bottom: 1px solid #000;
    position: relative;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);

}

.menu .arrow-1:after {
    content: url("../img/arrow-1.png");
    margin-left: 6px;
}

.menu .menu-item-has-children:hover .level_2 {
    display: block;
    -webkit-box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.7);

}

.menu li {
    float: left;
}

.menu li a {
    color: #fff;
    line-height: 28px;
    padding: 0 35px;
    height: 28px;
    display: inline-block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.menu li a:hover {
    background: #222222;
}

.level_2 {
    display: none;
    position: absolute;
    background: #323232;
}

.level_2 li:first-child {
    border-top: 1px solid #000;
}

.level_2 li {
    float: none;
}

.level_2 li a {
    /*padding: 0 45px 0 12px;*/
}
/*END MENU*/

/*LEFT CENTRAL RIGHT SIDEBARS*/
.main-content {
    display: table-cell;
    width: 580px;
    background: #fff;
    margin: 0 auto;
}

.left-sidebar,
.main-content,
.right-sidebar {
    padding: 10px 24px 10px 16px;
}

.container {
    display: table;
}

.container-block {
    display: table-row;
}

.left-sidebar,
.right-sidebar {
    background: #edeef0;
    width: 210px;
    display: table-cell;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
}
/*END LEFT CENTRAL RIGHT SIDEBARS*/

/*FOOTER*/
.copyright {
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 10px 0;
}
/*END FOOTER*/
