* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 500px;
    margin: 0 auto;
}

table, td {
    border-collapse: collapse;
}

table {
    width: 510px;
}

td {
    border: 10px solid #000;
}

.row-1 {
    height: 50px
}

.row-2, .row-3 {
    height: 130px
}

.row-2 td:nth-child(1) {
    width: 50px;
}

.row-2 td:nth-child(2) {
    height: 265px;
}

.row-4, .row-5 {
    height: 60px
}

.row-4 td:nth-child(1),
.row-4 td:nth-child(2) {
    width: 75px;
}

.row-4 td:nth-child(3) {
    width: 150px;
}

.row-6 {
    height: 30px
}

.row-7 {
    height: 40px
}

.red {
    background: #f00;
}

.black {
    background: rgba(0, 0, 0, 0.9);
}

.blue {
    background: #0000FF;
}

.yellow {
    background: #FFFF00;
}